<h4>Favorite Quesitons:</h4>
<ul>
  {{#each favoriteQuestions.questions as |question|}}
    <li>
       {{#link-to 'question' question}}
       {{question.question}} | {{question.author}}{{/link-to}}
      <button {{action "remove" question}}>Remove Question</button>
    </li>
  {{/each}}
  <button {{action "empty" question}}>Empty Favorite Question List</button>
</ul>
