<div class="aboutBody">
  <h2>About Fire Water Forum</h2><br>
  <h4>The Fire Water Forum was created to provide an enviting environment for anyone to ask questions about all things whiskey.</h4>
  <h4>
    This project was built with Ember JS v 2.7.0.
  </h4>
</div>
