<h1>Welcome to the Fire Water Question Forum</h1>

<p>
  This Forum will be for all things whiskey. Post your questions and recieve answers.
</p>

<ul>
  {{#each model as |question|}}
    <li>{{question.question}} | {{question.author}}</li>
  {{/each}}
</ul>
<hr>
{{#link-to 'about'}}About{{/link-to}}
